.container{
    display: flex;
    justify-content: center;
    align-items: center;  
}

.timer{
    height: 300px;
    width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border: 1px solid #000;
}